@import '../utilities/variables';

@media screen and (min-width: 426px) and (max-width: 768px) {
	.header {
		width: 100%;
		height: 100vh;
		background-color: $color-blue;
		clip-path: polygon(0 100%, 0 0, 100% 0, 100% 95%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		img {
			position: absolute;
			top: 0;
			left: 0;
		}

		.title {
			font-family: 'Montserrat-Bold';
			font-size: 3.5rem;
			color: $color-white;

			strong {
				color: $color-green;
			}
		}

		.subtitle {
			width: 80%;
			margin-top: 30px;
			font-family: 'Montserrat-Regular';
			font-size: 2rem;
			text-align: center;
			color: $color-white;

			span {
				color: $color-green;
			}
		}

		.buttons {
			width: 100%;
			margin-top: 30px;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			.button {
				width: 30%;
				font-size: 22px;
				color: $color-black;
				border-radius: 5px;
				padding: 10px 0;

				&:nth-of-type(1) {
					margin-top: 20px;
					margin-right: 20px;
					background-color: $color-white;
				}

				&:nth-of-type(2) {
					margin-top: 20px;
					background-color: $color-green;
				}
			}
		}
	}

	.description {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.titleDescription {
			font-family: 'Montserrat-Medium';
			color: $color-blue;

			span {
				color: $color-green;
			}

			@media screen and (min-width: 426px) and (max-width: 768px) {
				font-size: 2.3rem;
			}
		}

		p {
			width: 80%;
			margin-top: 30px;
			font-family: 'Montserrat-Regular';
			text-align: center;

			strong {
				color: $color-green;
			}

			@media screen and (min-width: 426px) and (max-width: 768px) {
				font-size: 1.3rem;
			}
		}
	}

	.information {
		width: 100%;
		margin: 100px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.content-img {
			width: 300px;
			margin: 30px 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			img {
				width: 40%;
			}

			.info-title {
				font-family: 'Montserrat-Regular';
				font-size: 1.2rem;
			}

			.text {
				margin-top: 20px;
				padding: 0 20px;
				font-size: 1rem;
				text-align: center;
			}
		}
	}

	.footer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		background-color: $color-blue;

		p {
			margin: 5px 0 5px 10px;
			color: $color-white;

			span {
				color: $color-green;
			}
		}
	}
}
