<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link rel="stylesheet" type="text/css" href="./scss/style.css" />
		<title>Helpersons</title>
	</head>
	<body>
		<header class="header">
			<img src="./img/logo.svg" alt="Helpersons logo" />
			<h1 class="title"><strong>Help</strong>ersons</h1>
			<h4 class="subtitle">
				Encuentra solución a tus problemas o forma parte de la
				comunidad de ayuda como <span>Helper</span>
			</h4>
			<div
				class="g-signin2"
				data-onsuccess="onSignIn"
				data-theme="dark"
			></div>
			<div class="buttons">
				<button class="button" type="button">Soy Helped</button>
				<button class="button" type="button">Soy Helper</button>
			</div>
		</header>
		<section class="description">
			<h3 class="titleDescription">
				¿Qué es <span>Help</span>ersons?
			</h3>
			<p>
				Helpersons es una plataforma que
				<strong>conecta a las personas</strong> para ayudarse
				mutuamente a resolver inquietudes y problemáticas.
			</p>
		</section>
		<section class="information">
			<div class="content-img">
				<img
					src="./img/comunicacion-eficaz.svg"
					alt="Comunicación eficaz"
				/>
				<p class="info-title">Comunicación eficaz</p>
				<p class="text">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Rerum exercitationem reprehenderit, fuga unde, accusantium
					ipsa blanditiis cumque temporibus perspiciatis praesentium
					laborum reiciendis impedit in mollitia dolorum aut ratione
					placeat porro.
				</p>
			</div>
			<div class="content-img">
				<img src="./img/grupos-ayuda.svg" alt="Grupos de ayuda" />
				<p class="info-title">Grupos de ayuda</p>
				<p class="text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Velit doloribus fugiat explicabo ullam perferendis
					perspiciatis tempora itaque pariatur! Odio odit placeat modi
					aspernatur omnis at dolorem ut assumenda iure minima?
				</p>
			</div>
			<div class="content-img">
				<img
					src="./img/comunicacion-24-7.svg"
					alt="Comunicación 24/7"
				/>
				<p class="info-title">Comunicación 24/7</p>
				<p class="text">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Nobis voluptas in minus veniam, voluptatum dolor soluta
					animi qui, natus officiis debitis itaque harum reprehenderit
					ipsam esse, laboriosam ab consequatur expedita!
				</p>
			</div>
		</section>
		<footer class="footer">
			<p>© <span>Helpersons</span> 2020</p>
		</footer>
	</body>
</html>
